---
layout: default
animation_images:
- first_image: /images/placeholder-1.jpg
  second_image: /images/placeholder-2.jpg
  third_image: /images/placeholder-3.jpg
  fourth_image: /images/placeholder-4.jpg
  fifth_image: /images/placeholder-1.jpg
  sixth_image: /images/placeholder-2.jpg
  seventh_image: /images/placeholder-3.jpg
  eighth_image: /images/placeholder-4.jpg
portfolio:
- title: Lavazza
  first_image: /images/placeholder-1.jpg
  video: true
  second_image: 
  video_path: /assets/placeholder.mp4
- title: Vita Liberata
  first_image: /images/placeholder-3.jpg
  video: false
  second_image: /images/placeholder-4.jpg
  video_path: 
---

<!-- flicking image gallery -->
{% include css-slideshow.html %}


<!-- hover blocks -->
{% include hover-blocks.html %}

